.header-box{
  width: 60%;
  height: 200px;
  border-style: solid;
  border-color:black;
  margin-left: 15%;
  margin-top: 2%;
}


.mid-box{
  width: 22.3%;
  height: 230px;
  border-color:black;
  border-style: solid;
  margin-left: 15%;
  margin-top: 2%;
}

.team{
  width: 9.8%;
  height: 230px;
  border-color:black;
  border-style: solid;
  margin-left: 15%;
  margin-top: 2%;

}


.flex-parent {
  display: flex;
}
